<!DOCTYPE html>
<html>
  <head>
    <title>Customer Portal</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to an Animal Shelter of Some Sort!</h1>

    <p>We have lots of sweet dogs, cats and lots of other animals that need homes. There are three different ways to sort through our animals to see what's available. </p>

      <div class="row">
        <div class="col-md-4">
          <h3>View Alphabetically by Name</h3>
        </h5><a href="/customers/athroughz">View All Pets!</a></h5>
        </div>
        <div class="col-md-4">
          <h3>Filter According to Breed</h3>
        </h5><a href="/customers/bybreed">View All Pets!</a></h5>
        </div>
        <div class="col-md-4">
          <h3>Filter According to Animal Type</h3>
        </h5><a href="/customers/byanimaltype">View All Pets!</a></h5>
        </div>
      </div>
    </div>
  </body>
</html>
