<!DOCTYPE html>
<html>
  <head>
    <title>Employee Portal</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to an Animal Shelter of Some Sort!</h1>
    <hr>

    <p>What would you like to do today, random employee? </p>
    <hr>
      <div class="row">
        <div class="col-md-4">
          <h4>Add a new animal to the system</h4>
        </h5><a href="/employees/addanimal">Add an Animal!</a></h5>
        </div>
        <div class="col-md-4">
          <h4>Add a new customer to the system</h4>
        </h5><a href="/employees/addcustomer">Add a Customer!</a></h5>
        </div>
        <div class="col-md-4">
          <h4>View all animals in the order they arrived</h4>
        </h5><a href="/employees/allanimals">View All Animals!</a></h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h4>Find a customer based on their breed preference</h4>
        </h5><a href="/employees/customersbybreed">Find a Customer!</a></h5>
        </div>
        <div class="col-md-4">
          <h4>Confirm an adoption</h4>
        </h5><a href="/employees/adoption">Adoption!</a></h5>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <p>
      <a href="/">Main Page</a> -
      <a href="/customers">Customer Page</a>
      </p>
    </div>
  </body>
</html>
